/*Start Global*/

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: 1500px;
}

.container{
    width: 1200px;
    margin: auto;
}
/*End Global*/

/*Start Framework*/

    .clearfix{
        clear: both;
    }

    .special-heading{
        position: relative;
        font-weight: normal;
    }
    
    .special-heading::after{
        content: "";
        position: absolute;
        top: 40px;
        left: 0;
        width: 40px;
        border-bottom: 2px solid #333333;
    }

    .separator{
        border: 1px solid #eeeeee;
        display: block;

    }
/*End Framework*/

/*Start Navbar*/

    .navbar{
        font-size: 20px;
        color: #FFF;
    }


    .navbar .brand{
        float: left;
        width: 50%;
        text-transform: uppercase;
        margin-top: 5px;
    }

    .navbar .brand h2{
        cursor: pointer;
        width: fit-content;
    }

    .navbar .links{
        float: left;
        list-style: none;
        width: 50%;
        font-weight: bold;
    }
    .navbar .links li{
        display: inline-block;
        padding: 10px 0;
        margin: 0 10px ;
        border-bottom: 2px solid transparent;
    }

    .navbar .links li{
        display: inline-block;
        padding: 10px 0;
        margin: 0 10px ;
        border-bottom: 2px solid transparent;
        cursor: pointer;
    }

    .navbar .links li:hover{
        color: #1aba9b;
        border-bottom: 2px solid #1aba9b
    }

    .navbar .links li.active{
        color: #1aba9b;
        border-bottom: 2px solid #1aba9b;
    }

/*End Navbar*/

/*Start Header*/

.header{
    background: url(../imgs/background.jpg);
    background-size: cover;
}
.header .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
}

.header .bx-wrapper{
    background-color: transparent;
    text-align: center;
    border: transparent;
    box-shadow: none;
    display: inline-block;
    position: absolute;
    bottom: 200px;
}

.header .bx-slider{
    height: 100%;
}

.header .slider div h2{
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 0;
}

.header .slider div h2 span{
    color: #1aba9b;
}

.header .slider div p{
    line-height: 1.5em;
}
/*End Header*/

/*Start Services*/

.services{
    padding: 60px 20px;
}

.services h2{
    margin: 0 0 50px;
}

.services .item{
    float: left;
    width: 33.3%;
    margin-bottom: 25px;
}

.services .item i{
    color: #1aba9b;
    float: left;
    width: 20%;
    margin-right: 5%;
    margin-top: 25px;
}

.services .item .info{
    float: left;
    width: 75%;
}
.services .item .info h3{
    color: #484848;
}

.services .item .info p{
    color: #b6b6b6;
}
/*End Services*/

/*Start Team*/
.our-team{
    padding: 40px 20px;
    margin: 60px 0;
}

.our-team .box{
    float: left;
    width: 35%;
    margin-top: -25px;
}

.our-team .box p{
    margin-top: 40px;
    font-size: 15px;
    line-height: 1.7em;
    color: #b6b6b6;
}

.our-team .images .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 186, 155, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
}

.our-team .images .overlay .special-heading::after{
    border: 1px solid white;
    width: 30px;
}

.our-team .images{
    float: left;
    width: 65%;
}

.our-team .images .image{
    float: left;
    overflow: hidden;
    height: 180px;
    width: 21%;
    margin-left: 4%;
    position: relative;
}

.our-team .images .image:hover .overlay{
    display: flex;
}

.our-team .images .image img{
    height: 100%;
    width: 100%;
}
/*End team*/

/*Start Testimonials*/

.testim{
    background: url(../imgs/image5.jpg);
    background-size: cover;
    height: 400px;
    position: relative;
    text-align: center;
}


.testim .t-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    color: white;
}

.testim h2{
    width: fit-content;
    margin: 70px auto;
}

.testim .special-heading::after{
    border-bottom: 2px solid #eeeeee;
}

.testim p{
    line-height: 2em;
    color: #a19f9f;
    display: block;
    margin-bottom: 70px;
}

.testim span{
    color: #1aba9b;
    font-size: 20px;
}

.testim .bx-wrapper{
    position: static;
}
/*
.testim .mySlider > div{
    display: none;
}

.testim .mySlider > div.active{
    display: block;
}
*/
/*End Testimonials*/

/*Start Projects*/

.our-projects{
    padding: 60px 0;
    height: 1000px;
}

.our-projects ul {
    padding: 0;
}
.our-projects ul li{
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #b6b6b6;
    border-radius: 4px;
    color: #b6b6b6;
    margin-top: 30px;
    cursor: pointer;
    margin-right: 5px;
}

.our-projects ul li:hover{
    background-color: #1aba9b;
    border: 1px solid #1aba9b;
    color: white;
}

.our-projects ul li.active{
    background-color: #1aba9b;
    border: 1px solid #1aba9b;
    color: white;
}

.our-projects .gallery{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.our-projects .gallery .img{
    width: 30%;
    height: 250px;
    margin-right: 3%;
    margin-top: 5%;
    border: 1px solid #a19f9f;
    border-left: 2px solid #a19f9f;
    position: relative;
}

.our-projects .gallery img{
    width: 100%;
    height: 100%;
}

.our-projects .gallery .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 186, 155, 0.8);
    display: none;
}

.our-projects .gallery .overlay button{
    background-color: transparent;
    border: 1px solid white;
    padding: 15px;
    color: white;
}

.our-projects .gallery .overlay button:hover{
    background-color: white;
    color: #1aba9b;
}

.our-projects .gallery .overlay span{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    font-weight: normal;
}

.our-projects .gallery .img:hover .overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/*End Projects*/

/*Start Footer*/

.footer{
    background-color: #232323;
    color: #6c6c6c;
    padding: 45px 0;
}

.footer .container{
    display: flex;
    flex-wrap: wrap;
}

.footer .col{
    width: 23%;
    margin-right: 2%;
}

.footer .col h2{
    color: #eaeaea;
    font-weight: normal;
    margin-bottom: 30px;
}

.footer .col p{
    margin-bottom: 30px;
    line-height: 1.4em;
}

.footer .col i{
    width: 40px;
    height: 40px;
    color: #a19f9f;
    margin-right: 5px;
    text-align: center;
    padding: 10px;
    border: 1px solid #a19f9f;
}

.footer .col span{
    display: inline-block;
    margin: 0 7px  10px 0;
    color: #a19f9f;
    padding: 10px;
    border: 1px solid #a19f9f;
}
.footer .col ul{
    padding: 0;
}
.footer .col ul li{
    list-style: none;
    color: #a19f9f;
    text-align: left;
    border-bottom: 1px solid #6c6c6c;
    margin-bottom: 15px;
    line-height: 2.5em;
}

.footer .col img{
    width: 100px;
    height: 70px;
}

.footer .col .info{
    display: inline-block;
    position: relative;
    bottom: 10px;
    margin-left: 5px;
    height: 70px;
}

.footer .col .info h4{
    margin-top: 0;
    color: #a19f9f;
}

.second-foter{
    width: 100%;
    height: 30px;
    background-color: #000000;
}
/*End Footer*/